<div class="row">
    <div class="col-xs-3 col-md-2" >
        <img class="champIcon" src="{{dataDragonChampionURL + selectedChamp.image.full}}"/>
    </div>
    <div >
        <span><h2>{{selectedChamp.name}}, {{selectedChamp.title}} &mdash; {{smartItems.totalGamesWithChampion}} challenger/master games analyzed</h2></span>
    </div>
</div>

<!-- Field that displays when no games are found yet -->
<br ng-hide="!hideElements"/>
<div class="col-xs-offset-1 col-xs-11" ng-hide="!hideElements">
    <img class="center-img" style="width: 100%;" ng-src="{{'//ddragon.leagueoflegends.com/cdn/img/champion/splash/' + champName + '_0.jpg' }}">
</div>
<h3 ng-hide="!hideElements" style="text-align: center;">Unfortunately, we don't have any games recorded yet with {{selectedChamp.name}}. Check back in at a later time!</h3>

<div class="row" ng-hide="hideElements">
    <div class="col-md-2">
        <h3>Most Popular Items:</h3>
    </div>
    <div class="col-md-9" style="padding: 0;">
        <div class="col-xs-2 popularItems well" ng-repeat="item in mostPopularItems | orderBy: '-itemOccurrence' "  >
            <img class="img-container" ng-src="{{dataDragonItemURL + item.itemId + '.png'}}" title="Appeared {{item.itemOccurrence}} times in final builds!">
            <span class="center-text">{{item.itemName}}</span>
            <p class="center-text">(Appeared {{item.itemOccurrence}} times in final builds)</p>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" ng-click="openModal(mostPopularItemsFull, 'Popular Items')">Get Item Set</button>
    </div>
</div>

<br ng-hide="hideElements"/>

<div class="row" ng-hide="hideElements">
    <div class="col-md-2">
        <h3>Items with Highest Winrates:</h3>
    </div>
    <div class="col-md-9" style="padding: 0;">
        <div class="col-xs-2 popularItems well" ng-repeat="item in mostSuccessfulItems | orderBy: '-itemWinRate' | limitTo: 7" >
            <img class="img-container" ng-src="{{dataDragonItemURL + item.itemId + '.png'}}" title="{{item.itemWinRate | number:1}}% winrate">
            <span class="center-text">{{item.itemName}}</span>
            <p class="center-text">{{item.itemWins}}W/{{item.itemLosses}}L - <br/> {{item.itemWinRate | number:1}}% winrate)</p>
            <!-- <p class="center-text">{{item.itemWins}}/{{smartItems.numberOfWins}}</p> -->
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary"  ng-click="openModal(mostSuccessfulItemsFull, 'Successful Items')">Get Item Set</button>
    </div>
</div>


<!-- Trigger Button HTML -->
<input ng-hide="hideElements" class="col-md-offset-3 col-md-6 btn btn-primary" type="button" data-toggle="collapse" data-target="#toggleNote" value="Curious about the items you see above?">
<br ng-hide="hideElements"/>
<br ng-hide="hideElements"/>
<!-- Collapsible Element HTML -->
<div ng-hide="hideElements" id="toggleNote" class="col-md-offset-2 col-md-9 collapse"><p class="well">Only highest-tier items that were present in final builds of at least 20% of games are considered as "highest winrate" items. This is our way of attempting to eliminate outlying datasets, such as players trading in their standard items for random items before the game ends.
<br/> <br/>(We have nothing against you, guy who won a game with AP Vayne; we just don't want your single win with Deathcap, Voidstaff, and Hourglass mucking things up...)</p><br/>
    <br/></div>
<br/>

<br ng-hide="hideElements"/>
<br ng-hide="hideElements"/>
<br ng-hide="hideElements"/>
<br ng-hide="hideElements"/>


<div class="row" ng-hide="hideElements">
    <h3 class="col-sm-2">
        Highest KDA Final Builds:
    </h3>
    <div class="col-sm-3" ng-repeat="match in KDAGames | orderBy: '-kda'" style="text-align: center">
        <div class="well wellHover" ng-repeat="participant in match.participants | toArray" >
            <a ng-href="http://matchhistory.na.leagueoflegends.com/en/#match-details/NA1/{{match.matchId}}/{{participant.summonerId}}" target="_blank" style="color: #FFFFFF; text-decoration:none;" >
                <div>
                    <img src="https://avatar.leagueoflegends.com/na/{{participant.summonerName.split(' ').join('')}}.png">
                    <h4 class="champTitle ellipsis">{{participant.summonerName}}</h4>
                    <h4 class="champTitle ellipsis">{{participant.stats.kills}}/{{participant.stats.deaths}}/{{participant.stats.assists}} - KDA: {{match.kda}}</h4>
                    <div class="row" style="margin-bottom: 15px; height: 60px;">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="row">
                                <div class="col-xs-3" style="padding: 2px;" ng-repeat="item in match.itemSet track by $index" >
                                    <img style="width: 100%" ng-src="{{dataDragonItemURL + item.id + '.png'}}" title="{{item.name}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{participant.itemSet}}
                    <button type="button" class="btn btn-primary" ng-click="$event.preventDefault(); $event.stopPropagation(); openModal(match.itemSet, participant.summonerName)">Get Item Set</button>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- Modal below -->

<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="margin-top: 200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel"></h4>
            </div>
            <div class="modal-body text-center">
                <div>
                    <label>Go to this directory (or associating Riot Games Directory):</label>
                    <div style="margin: 0 0 10px 25px"><samp id="fileLocation"></samp></div>
                    <label>and save the below file into the above directory.</label>
                </div>
                <button class="btn btn-primary" id="downloadButton" style="margin: 15px"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>
<br/>