<h2>Greetings Summoner</h2>
<div style="margin: 25px">
    Welcome to League Item Sets - a place where you can add item sets based on games in anyone's match history.
</div>
<div style="margin: 25px">
    Click below if you want to search by a specific champion or by a specific player!
</div>
<div class="row">
    <div class="col-lg-6" style="text-align: center">
        <div class="well pointer wellHover" ng-click="goTo('champions')">
            <div class="wellText">
                By Champions
            </div>
            <img src="https://github.com/kennyw728/league-item-sets/blob/master/app/images/bychampions.jpg?raw=true" style="width:100%">
        </div>
    </div>
    <div class="col-lg-6" style="text-align: center">
        <div class="well pointer wellHover" ng-click="goTo('summoners')">
            <div class="wellText">
                By Summoners
            </div>
            <img src="https://github.com/kennyw728/league-item-sets/blob/master/app/images/bysummoners.png?raw=true"  style="width:100%">
        </div>
    </div>
</div>