<form class="form-inline" style="text-align: center; margin-bottom: 25px" ng-submit="searchSummoner(newSummoner)">
    <div class="form-group input-group">
        <input type="text" class="form-control" style="width: 300px" placeholder="Enter a summoner" ng-model="newSummoner">
        <span class="input-group-addon" ng-click="searchSummoner(newSummoner)">Go</span>
    </div>
</form>
<div style="text-align: center">
    or search for challenger player below
    <hr>
</div>
<div class="row">
    <div class="col-sm-3" ng-repeat="challenger in challengers| orderBy: '-leaguePoints'">
        <div class="well wellHover pointer" style="text-align: center" ng-click="searchSummoner(challenger.playerOrTeamName)">
            <img class="champIcon" style="width: 75px; height: 75px" src="https://avatar.leagueoflegends.com/na/{{challenger.playerOrTeamName}}.png">
            <h4 class="champTitle ellipsis">{{challenger.playerOrTeamName}}</h4>
            <h5 class="champTitle ellipsis">{{challenger.leaguePoints}} LP <span style="margin-left: 15px">WINS: {{challenger.leaguePoints}}</span></h5>
        </div>
    </div>
</div>